@import url(http://fonts.googleapis.com/css?family=Roboto);

$primaryColor:   #738790;
$accentColor:    #6EBADC;
$darkBgColor:    #4A575D;
$lightBgColor:   #C6D6DC;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;

body {
   height: 100%;
   min-height: 100vh;
   font-family: 'Source Sans Pro', sans-serif;
}

